#include <DS1302.h>  // Incluyendo la librería
    DS1302 rtc(9, 5, 6);  // RST/CE, DAT/I/O, CLK/SCLK - Interfaz de 3 cables
    Time t;  // Define una estructura de nombre t de la clase Time
    void setup()
    {
      rtc.halt(false);  // Limpia la bandera CH
      rtc.writeProtect(false);  // Limpia el bit WP para poder escribir en el dispositivo
      rtc.setDOW(3);  // Configurar día de la semana (1-7): MIERCOLES
      rtc.setTime(10, 15, 0);  // Configurar hora en formato 24hrs: 10:15:00
      rtc.setDate(14, 1, 2015);  // Configurar fecha en formato dia/mes/año: 14/Ene/2015
      rtc.setTCR(TCR_D2R2K);  // Activa carga de mantenimiento con 2 diodos y la resistencia de 2k
    }
    void loop()
    {
      digitalWrite(13,HIGH);  // El LED integrado confirmara la finalización
    }
