void Registros(int H, int M, int S)
{
 Informacion="";
 int CASO=0; //switch case para dif1,2,3 y u1,2,3
 
 ACad=ActualProtocolo(H,M,S);
 
 //R1 = R1.Ho, R1.Mi, R1.Se, R1.Unidad
 //R2 = R2.Ho, R2.Mi, R3.Se, R2.Unidad
 //R3 = R3.Ho, R3.Mi, R3.Se, R3.Unidad
 
  
   if(R1.Ho!=99||R1.Mi!=99||R1.Se!=99) //Comprueba si R1 existe o no
   {
   CASO+=1;
   }//if de R1
   else
   {
   CASO+=2;
   }
   if(R2.Ho!=99||R2.Mi!=99||R2.Se!=99) //Comprueba si R2 existe o no
   {
   CASO+=4;  
   }//if de R2
   else
   {
   CASO+=8;
   }
   if(R3.Ho!=99||R3.Mi!=99||R3.Se!=99) //Comprueba si R3 existe o no
   {
   CASO+=16;
   }//if de R3
   else
   {
   CASO+=32;
   }
   
   /*Serial.print("\n\n Este es el valor de registros: ");
   Serial.println(CASO);*/
   
   switch(CASO)
   {              
     case 42: // 0 0 0
     R3.Ho=H;
     R3.Mi=M;
     R3.Se=S;
     R3.Unidad=AuxU.toInt();
     RU3="XXX";
     DIF3="XXXXXX";
     RU2="XXX";
     DIF2="XXXXXX";
     RU1="XXX";
     DIF1="XXXXXX";
     break;
     
     case 26: // 0 0 1
     RU3=TresCarac(R3.Unidad); 
     DIF3=Diferencia(H,M,S,R3.Ho,R3.Mi,R3.Se);
     R2.Ho=R3.Ho;
     R2.Mi=R3.Mi;
     R2.Se=R3.Se;
     R2.Unidad=R3.Unidad;
     R3.Ho=H;
     R3.Mi=M;
     R3.Se=S;
     R3.Unidad=AuxU.toInt();
     RU2="XXX";
     DIF2="XXXXXX";
     RU1="XXX";
     DIF1="XXXXXX";
     break;
     
     case 22: // 0 1 1
     DIF3=Diferencia(H,M,S,R3.Ho,R3.Mi,R3.Se);
     DIF2=Diferencia(H,M,S,R2.Ho,R2.Mi,R2.Se);
     RU3=TresCarac(R3.Unidad);
     RU2=TresCarac(R2.Unidad);
     R1.Ho=R2.Ho;
     R1.Mi=R2.Mi;
     R1.Se=R2.Se;
     R1.Unidad=R2.Unidad;
     R2.Ho=R3.Ho;
     R2.Mi=R3.Mi;
     R2.Se=R3.Se;
     R2.Unidad=R3.Unidad;
     R3.Ho=H;
     R3.Mi=M;
     R3.Se=S;
     R3.Unidad=AuxU.toInt();
     RU1="XXX";
     DIF1="XXXXXX";
     break;

     case 21: // 1 1 1
     DIF3=Diferencia(H,M,S,R3.Ho,R3.Mi,R3.Se);
     DIF2=Diferencia(H,M,S,R2.Ho,R2.Mi,R2.Se);
     DIF1=Diferencia(H,M,S,R1.Ho,R1.Mi,R1.Se);
     RU3=TresCarac(R3.Unidad);
     RU2=TresCarac(R2.Unidad);
     RU1=TresCarac(R1.Unidad);
     R1.Ho=R2.Ho;
     R1.Mi=R2.Mi;
     R1.Se=R2.Se;
     R1.Unidad=R2.Unidad;
     R2.Ho=R3.Ho;
     R2.Mi=R3.Mi;
     R2.Se=R3.Se;
     R2.Unidad=R3.Unidad;
     R3.Ho=H;
     R3.Mi=M;
     R3.Se=S;
     R3.Unidad=AuxU.toInt();
     break;
   }

//MOSTRAR REGISTROS
/*Serial.print(" REGISTROS 1\n");
Serial.println(R1.Ho);
Serial.println(R1.Mi);
Serial.println(R1.Se);
Serial.print("Unidad: ");
Serial.println(R1.Unidad);

Serial.print(" REGISTROS 2\n");
Serial.println(R2.Ho);
Serial.println(R2.Mi);
Serial.println(R2.Se);
Serial.print("Unidad: ");
Serial.println(R2.Unidad);

Serial.print(" REGISTROS 3\n");
Serial.println(R3.Ho);
Serial.println(R3.Mi);
Serial.println(R3.Se);
Serial.print("Unidad: ");
Serial.println(R3.Unidad);*/
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
/*

Serial.print(" INFORMACION = ");
Serial.println(Informacion);
Serial.print(" LONGITUD = ");
Serial.println(Informacion.length());
Serial.print(" DEL 2 AL 4 = ");
Serial.println(Informacion.substring(2,4));*/

Informacion=AuxU+ACad;
receiver.txPL(Informacion); //CADENA CON TODA LA INFORMACION 1raparte
receiver.send(SLOW);
//Serial.println("PRIMERA");
/*Serial.print(" INFORMACION 1ra = ");
Serial.println(Informacion);
Serial.print(" LONGITUD = ");
Serial.println(Informacion.length());*/
Informacion="";
delay(5);
Informacion=AuxU+RU3+DIF3+RU2+DIF2+RU1+DIF1;
receiver.txPL(Informacion); //CADENA CON TODA LA INFORMACION 2daparte
receiver.send(SLOW);
//Serial.println("SEGUNDA");

/*Serial.print(" INFORMACION 2da = ");
Serial.println(Informacion);
Serial.print(" LONGITUD = ");
Serial.println(Informacion.length());*/


 return;
}
